<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Published Blogs</title>
    <link rel="stylesheet" href="publishedBlogs.css"> <!-- Include your CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <header>
        <nav>
          <ul class="nav-links">
            <li><a href="/">HOME</a></li>

  
            <li><a href="/login">LOGIN</a></li>
  
          </ul>
        </nav>
      </header>
      <div class="welcome">  <h1>Published blog Posts</h1>
    </div>
    <main>
        <div class="blog-list">
            <% blogs.forEach(blog => { %>
                <main class="blog-item">
                    <h2><%= blog.title %></h2>
                    <p>Author: <%= blog.author %></p>
                    <p>Published on: <%= new Date().getDate() %> <%= new
                        Date().toLocaleString('default', {month: 'long'}); %>,<%= new
                        Date().getFullYear(); %></p> </main>
                   <section> <p>Description: <%= blog.description %></p>
                    <p>
                      <span><i class="far fa-clock"></i> &nbsp; <%= blog.reading_time %>
                      minutes</span>&nbsp; &nbsp; &nbsp; 
                      
                   <span><i class="fas fa-eye"></i>&nbsp; <%= Number(blog.read_count) %> times</span></p>

                    
                    <p style="font-family:cursive">The body: <%= blog.body %></p></section>

                   

                    
               
            <% }); %>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Your Blog</p>
    </footer>
</body>
</html>