<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Blog Post</title>
    <link rel="stylesheet" type="text/css" href="/updateblog.css" />
   
  </head>
  <body>
    <header>
      <h1>Update Blog Post</h1>
    </header>
    <main>
      <div class="container">
        <form method="POST" action="/blogs/update/<%= blog._id %>?_method=PUT">
          <input type="hidden" name="_method" value="PUT" />

          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= blog.title %>"
          />

          <label for="description">Description:</label>
          <textarea id="description" name="description">
<%= blog.description %></textarea
          >

          <label for="tag">Tag:</label>
          <input type="text" id="tag" name="tag" value="<%= blog.tag %>" />

          <label for="author">Author:</label>
          <input
            type="text"
            id="author"
            name="author"
            value="<%= blog.author %>"
          />

          <label for="state">State:</label>
          <input
            type="text"
            id="state"
            name="state"
            value="<%= blog.state %>"
          />
          <label for="state">Body:</label>
          <input
            type="text"
            id="body"
            name="body"
            value="<%= blog.body %>"
          />

          <button type="submit">Update</button>
        </form>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Lemon Blog</p>
    </footer>
  </body>
</html>
